main, body, header, footer, figcaption, section, div, ul, li, h1, h2, h3, p, a {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
}

button{
  border: none;
  background-color: white;
  font: 100% 'Source Sans Pro', sans-serif;
  cursor: pointer;
}

html,
body {
  font: 100% 'Source Sans Pro', sans-serif;
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.cv-image{
  width: 90%;
  display: inline-block;
  margin: 0 10%;
}

header{
  width: 100%;
  background-color: white;
  position: fixed;
  height: 60px;
  z-index: 50;
  padding: 0 3%;
  box-shadow: 2px 15px 51px 0 rgba(214,214,214,1);
}

header > ul{
  height: 60px;
}

header > ul li{
  display: inline-block;
  padding-right: 2%;
  line-height: 60px;
  vertical-align: top;
}

header > ul li:first-of-type a{
  display: inline-block;
  width: 50px;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
  padding-right: 0;
}

a>img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 60px;
  vertical-align: middle;
}

main{
  padding-top: 60px;
  height:100%;
  width:100%;
}

.wrapper{
  position:absolute;
  height:100%;
  width:100%;
}

.panel{
  position:relative;
  height:80%;
  min-height:80%;
  width:100%;
  z-index:10;
  background-color: white;
  display: flex;
}

.fixed-bottom{
  position:fixed;
  top: 60px;
  left:0;
  z-index: -99;
}

.text{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layer-one{
  margin-top:100%;
}

h1{
  display: inline-block;
  font-size: 3rem;
}
p{
  display: inline-block;
}


h2, h3{
  font-size: 3rem;
}

span{
  display: inline-block;
  margin: auto 10%;
}

.hello {
   background-image: url("noun_842369_cc.svg");
   background-repeat: no-repeat;
   background-size: cover;
   width: 117px;
   height: 125px;
 }

.fork {
  background-image: url("noun_729280_fork_cc.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 117px;
  height: 125px;
  margin-top: 20px;
}

.glasses {
  background-image: url("student_lady_nerd-512.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 117px;
  height: 125px;
  margin-top: 20px;
}

.laptop {
  background-image: url("student_lady_nerd_laptop-256.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 146px;
  height: 155px;
  margin-top: 20px;
}

.last {
  font-weight: 300;
}