main, body, header, footer, figcaption, section, div, ul, li, h1, h2, h3, p, a {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
}

button{
  border: none;
  background-color: white;
  font: 100% 'Source Sans Pro', sans-serif;
  cursor: pointer;
}

html,
body {
  font: 100% 'Source Sans Pro', sans-serif;
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.cv-image{
  width: 90%;
  display: inline-block;
  margin: 0 10%;
}

header{
  width: 100%;
  background-color: white;
  position: fixed;
  height: 60px;
  z-index: 50;
  margin: 0 3%;
}

header > ul{
  height: 60px;
}

header > ul li{
  display: inline-block;
  padding-right: 2%;
  line-height: 60px;
  vertical-align: top;
}

header > ul li:first-of-type a{
  display: inline-block;
  width: 50px;
  height: 60px;
  line-height: 60px;
  vertical-align: top;
  padding-right: 0;
}

a>img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 60px;
  vertical-align: middle;
}

main{
  padding-top: 60px;
  height:100%;
  width:100%;
}

.wrapper{
  position:absolute;
  height:100%;
  width:100%;
}

.panel{
  position:relative;
  height:80%;
  min-height:80%;
  width:100%;
  z-index:10;
  background-color: white;
  display: flex;
}

.fixed-bottom{
  position:fixed;
  top: 60px;
  left:0;
  z-index: -99;

}

.text{
  margin: 20% 20%;
}

.layer-one{
  margin-top:100%;
}

h1{
  display: inline-block;
  font-size: 3rem;
}
p{
  display: inline-block;
}


h2, h3{
  margin: auto 10%;
  font-size: 3rem;
}

span{
  display: inline-block;
  margin: auto 10%;
}